*{
    box-sizing: border-box;
}
.row{
    width:100%;
}
.selection{
    border:1px solid black;
  background-color: gray;
  margin:4px;
  padding:2px;
  position: relative;
}
.section{
    width:3cm;
    position:absolute;
    top:0px;
    right:0px;
    border:1px solid black;
    background-color: sandybrown;
    text-align: center;

}
@media(min-width :992px)
{
.col-lg-4
{
  float:left;
  width:33.3%;
 
}

}
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6 {
float: left;
width: 50%;

}
.new{
  width:100%;
}

}
@media (max-width: 767px)
{
.col-xs-12{
    float:left;
    width:100%;
}

}