body{
    font-size: 16px;
    background-color: #f2aa4cff;
    color:#ffff;
    font-family:'oxygen',sans-serif ;
    box-sizing: border-box;
}
#header-nav{
    background-color:#101820ff;
    border:0;
    border-radius: 0;
}

.logo-img{
    background-image: url(../logo.png);
    background-size : contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin: 10px 15px 10px 0;
}
.navbar-brand{
    height: auto;
}
.navbar-brand h1{
    color: honeydew;
    font-weight:bold ;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
    
}